In [1]:
import pandas as pd
import numpy as np

In [2]:
air = pd.read_csv('./data/Air_Traffic_Passenger_Statistics.csv')
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [5]:
air.set_index(keys=['Activity Period','Operating Airline'], inplace=True)
air.head()

                                  Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ
                ATA Airlines                               TZ
                ATA Airlines                               TZ
                Air Canada                                 AC
                Air Canada                                 AC

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International

                                  GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines              US           Deplaned
                ATA Airlines              US           Enplaned
                ATA Airlines              US     Thru / Transit
                Air Canada            Canada           Deplaned
                Air Canada            Canada           Enplaned

                                  Price Category Code    Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                Air Canada                      Other  Terminal 1
                Air Canada                      Other  Terminal 1

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090

In [6]:
air.reset_index(inplace=True)
air.set_index(keys=['Operating Airline','Activity Period'], inplace=True)
air.head()

                                  Operating Airline IATA Code  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ
                  200507                                   TZ
                  200507                                   TZ
Air Canada        200507                                   AC
                  200507                                   AC

                                  Published Airline  \
Operating Airline Activity Period
ATA Airlines      200507               ATA Airlines
                  200507               ATA Airlines
                  200507               ATA Airlines
Air Canada        200507                 Air Canada
                  200507                 Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
Air Canada        200507                                   AC  International
                  200507                                   AC  International

                                  GEO Region Activity Type Code  \
Operating Airline Activity Period
ATA Airlines      200507                  US           Deplaned
                  200507                  US           Enplaned
                  200507                  US     Thru / Transit
Air Canada        200507              Canada           Deplaned
                  200507              Canada           Enplaned

                                  Price Category Code    Terminal  \
Operating Airline Activity Period
ATA Airlines      200507                     Low Fare  Terminal 1
                  200507                     Low Fare  Terminal 1
                  200507                     Low Fare  Terminal 1
Air Canada        200507                        Other  Terminal 1
                  200507                        Other  Terminal 1

                                  Boarding Area  Passenger Count
Operating Airline Activity Period
ATA Airlines      200507                      B            27271
                  200507                      B            29131
                  200507                      B             5415
Air Canada        200507                      B            35156
                  200507                      B            34090

In [10]:
air.sort_index(ascending=[False,True]).head(10)

                                  Operating Airline IATA Code  \
Operating Airline Activity Period
Xtra Airways      200608                                   XP
                  200608                                   XP
XL Airways France 201205                                   SE
                  201205                                   SE
                  201206                                   SE
                  201206                                   SE
                  201207                                   SE
                  201207                                   SE
                  201208                                   SE
                  201208                                   SE

                                   Published Airline  \
Operating Airline Activity Period
Xtra Airways      200608                Xtra Airways
                  200608                Xtra Airways
XL Airways France 201205           XL Airways France
                  201205           XL Airways France
                  201206           XL Airways France
                  201206           XL Airways France
                  201207           XL Airways France
                  201207           XL Airways France
                  201208           XL Airways France
                  201208           XL Airways France

                                  Published Airline IATA Code    GEO Summary  \
Operating Airline Activity Period
Xtra Airways      200608                                   XP       Domestic
                  200608                                   XP       Domestic
XL Airways France 201205                                   SE  International
                  201205                                   SE  International
                  201206                                   SE  International
                  201206                                   SE  International
                  201207                                   SE  International
                  201207                                   SE  International
                  201208                                   SE  International
                  201208                                   SE  International

                                  GEO Region Activity Type Code  \
Operating Airline Activity Period
Xtra Airways      200608                  US           Deplaned
                  200608                  US           Enplaned
XL Airways France 201205              Europe           Deplaned
                  201205              Europe           Enplaned
                  201206              Europe           Deplaned
                  201206              Europe           Enplaned
                  201207              Europe           Deplaned
                  201207              Europe           Enplaned
                  201208              Europe           Deplaned
                  201208              Europe           Enplaned

                                  Price Category Code       Terminal  \
Operating Airline Activity Period
Xtra Airways      200608                        Other  International
                  200608                        Other  International
XL Airways France 201205                        Other  International
                  201205                        Other  International
                  201206                        Other  International
                  201206                        Other  International
                  201207                        Other  International
                  201207                        Other  International
                  201208                        Other  International
                  201208                        Other  International

                                  Boarding Area  Passenger Count
Operating Airline Activity Period
Xtra Airways      200608                      A               73
                  200608                      A               73
XL Airways France 201205                      A              106
                  201205                      A              166
                  201206                      A             2023
                  201206                      A             2113
                  201207                      A             3182
                  201207                      A             1771
                  201208                      A             2436
                  201208                      A             2575

In [11]:
air.reset_index(inplace=True)
air.head()

,Operating Airline,Activity Period,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,Air Canada,200507,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,Air Canada,200507,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [12]:
air.set_index(keys=['Activity Period','Operating Airline','Activity Type Code'], inplace=True)
air.head()

                                                     Operating Airline IATA Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
                Air Canada        Deplaned                                    AC
                                  Enplaned                                    AC

                                                     Published Airline  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
                Air Canada        Deplaned                  Air Canada
                                  Enplaned                  Air Canada

                                                     Published Airline IATA Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
                Air Canada        Deplaned                                    AC
                                  Enplaned                                    AC

                                                        GEO Summary  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                 Domestic
                                  Enplaned                 Domestic
                                  Thru / Transit           Domestic
                Air Canada        Deplaned            International
                                  Enplaned            International

                                                     GEO Region  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                   US
                                  Enplaned                   US
                                  Thru / Transit             US
                Air Canada        Deplaned               Canada
                                  Enplaned               Canada

                                                     Price Category Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
                Air Canada        Deplaned                         Other
                                  Enplaned                         Other

                                                        Terminal  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned            Terminal 1
                                  Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1
                Air Canada        Deplaned            Terminal 1
                                  Enplaned            Terminal 1

                                                     Boarding Area  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B
                Air Canada        Deplaned                       B
                                  Enplaned                       B

                                                      Passenger Count
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                      27271
                                  Enplaned                      29131
                                  Thru / Transit                 5415
                Air Canada        Deplaned                      35156
                                  Enplaned                      34090