In [2]:
import pandas as pd
import numpy as np

In [4]:
animals = pd.read_csv('./data/sleep_time.csv', index_col='ID').fillna(value=0)
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [11]:
herbi = animals.where(animals['vore']=='herbi')
print(herbi.size)
print(herbi.dropna().size)

913
352

In [12]:
omni = animals.where(animals['vore']=='omni')
print(omni.size)
print(omni.dropna().size)

913
220

In [25]:
herbi = animals[animals['vore']=='herbi']
omni = animals[animals['vore']=='omni']
carni = animals[animals['vore']=='carni']
print('Herbi mean total sleep:',herbi['sleep_total'].mean())
print('Omni mean total sleep:',omni['sleep_total'].mean())
print('Carni mean total sleep:',carni['sleep_total'].mean())

Herbi mean total sleep: 9.509375
Omni mean total sleep: 10.924999999999999
Carni mean total sleep: 10.378947368421054

In [26]:
animals.query('sleep_total > 14').head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.00000,3.850
18,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.6,0.01080,3.500

In [27]:
animals.query('sleep_total > 14 and vore =="herbi"').head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.350
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.000,3.850
27,Western american chipmunk,Eutamias,herbi,Rodentia,0,14.9,0.0,0.000000,9.1,0.000,0.071
39,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,0.000000,9.8,0.000,0.053
40,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.001,0.120

In [28]:
animals.query('sleep_total > 14 and vore =="herbi" and bodywt > 1').head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.0,1.35
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.0,3.85