In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data = pd.read_csv('./data/results.csv')
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41581,2020-01-10,Barbados,Canada,1,4,Friendly,Irvine,United States,True
41582,2020-01-12,Kosovo,Sweden,0,1,Friendly,Doha,Qatar,True
41583,2020-01-15,Canada,Iceland,0,1,Friendly,Irvine,United States,True
41584,2020-01-19,El Salvador,Iceland,0,1,Friendly,Carson,United States,True
41585,2020-02-01,United States,Costa Rica,1,0,Friendly,Carson,United States,False

In [3]:
pl_data = data.query("home_team=='Poland' or away_team =='Poland'")
pl_data.reset_index(inplace=True)
pl_data.drop('index', axis=1, inplace=True)
pl_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        815 non-null    object
 1   home_team   815 non-null    object
 2   away_team   815 non-null    object
 3   home_score  815 non-null    int64
 4   away_score  815 non-null    int64
 5   tournament  815 non-null    object
 6   city        815 non-null    object
 7   country     815 non-null    object
 8   neutral     815 non-null    bool
dtypes: bool(1), int64(2), object(6)
memory usage: 332.3 KB

C:\Users\marci\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [4]:
def opponent(row):
    if row['home_team'] == 'Poland':
        opp = row['away_team']
    else:
        opp =  row['home_team']
    return opp

pl_data['opponent'] = pl_data.apply(opponent, axis=1)
pl_data['scored'] = pl_data.apply(lambda x: x['home_score'] if x['home_team'] == 'Poland' else x['away_score'], axis=1)
pl_data['conceded'] = pl_data.apply(lambda x: x['away_score'] if x['home_team'] == 'Poland' else x['home_score'], axis=1)
pl_data['is_home'] = pl_data.apply(lambda x: True if (x['home_team']=='Poland' and x['neutral'] == False) else False, axis=1)
pl_data.head()

C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\marci\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,opponent,scored,conceded,is_home
0,1921-12-18,Hungary,Poland,1,0,Friendly,Budapest,Hungary,False,Hungary,0,1,False
1,1922-05-14,Poland,Hungary,0,3,Friendly,Cracow,Poland,False,Hungary,0,3,True
2,1922-05-28,Sweden,Poland,1,2,Friendly,Stockholm,Sweden,False,Sweden,2,1,False
3,1922-09-03,Romania,Poland,1,1,Friendly,CernÄƒuÅ£i,Romania,False,Romania,1,1,False
4,1922-10-01,Yugoslavia,Poland,1,3,Friendly,Zagreb,Yugoslavia,False,Yugoslavia,3,1,False

In [5]:
to_drop = ['home_team','away_team','home_score','away_score']
pl_data.drop(to_drop,inplace=True, axis=1)
pl_data = pl_data[['date','tournament','opponent','scored','conceded','is_home','neutral','city','country']]
pl_data.head()

C:\Users\marci\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,date,tournament,opponent,scored,conceded,is_home,neutral,city,country
0,1921-12-18,Friendly,Hungary,0,1,False,False,Budapest,Hungary
1,1922-05-14,Friendly,Hungary,0,3,True,False,Cracow,Poland
2,1922-05-28,Friendly,Sweden,2,1,False,False,Stockholm,Sweden
3,1922-09-03,Friendly,Romania,1,1,False,False,CernÄƒuÅ£i,Romania
4,1922-10-01,Friendly,Yugoslavia,3,1,False,False,Zagreb,Yugoslavia

In [6]:
pl_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        815 non-null    object
 1   tournament  815 non-null    object
 2   opponent    815 non-null    object
 3   scored      815 non-null    int64
 4   conceded    815 non-null    int64
 5   is_home     815 non-null    bool
 6   neutral     815 non-null    bool
 7   city        815 non-null    object
 8   country     815 non-null    object
dtypes: bool(2), int64(2), object(5)
memory usage: 282.9 KB

In [7]:
pl_data['tournament'] = pl_data['tournament'].astype('category')
pl_data['opponent'] = pl_data['opponent'].astype('category')
pl_data['city'] = pl_data['city'].astype('category')
pl_data['country'] = pl_data['country'].astype('category')
pl_data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        815 non-null    object
 1   tournament  815 non-null    category
 2   opponent    815 non-null    category
 3   scored      815 non-null    int64
 4   conceded    815 non-null    int64
 5   is_home     815 non-null    bool
 6   neutral     815 non-null    bool
 7   city        815 non-null    category
 8   country     815 non-null    category
dtypes: bool(2), category(4), int64(2), object(1)
memory usage: 115.2 KB

In [9]:
pl_data.to_csv('./data/results_pl.csv', index=False)